:root {
    --border: 0.1rem solid rgba(0, 0, 0, 0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 1rem 0;
    border-bottom: var(--border);
    background-color: #f5f5f5;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.icone {
    margin: 0 1rem;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1000px;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.navbar a:hover {
    color: #F44336;
    border-bottom: 0.1rem solid burlywood;
    padding-bottom: 0.5rem;
    font-size: 1.6rem;
}

.home-container {
    background-color: #ffffff;
    min-height: 100vh;
}

.home-container section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    width: 80%;
    background-color: rgb(255, 255, 255);
    padding: 4rem;
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border: 0.2rem solid #f5f5f5;
}

.content-left {
    flex: 1;
}

.content-left h1 {
    font-size: 1.8rem;
    color: #F44336;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.content-left h1:first-child {
    margin-top: 0;
}

.content-left p {
    font-size: 2rem;
    color: #333;
    font-weight: 500;
    padding-left: 0.5rem;
    border-left: 0.4rem solid #F44336;
    margin-bottom: 1.5rem;
}

.content-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-right img {
    width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        gap: 3rem;
    }
    
    .content-left h3 {
        font-size: 2rem;
    }
    
    .content-right img {
        max-width: 100%;
    }
}